.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;

  @media (max-width: 767px) {
    width: 200px;

    position: fixed;
    top: 63px;
    left: 0;
    height: 100vh;
    z-index: 1;
  }
}

.notesWrapper {
  width: 100%;
}

.hideSidebar {
  display: none;
}

.menuBtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  position: absolute;
  z-index: 2;
  top: 70px;
  left: 16px;

  /* @media (min-width: 768px) {
    display: none;
  } */
}
